body {
  margin: 10px 10vh 20px 10vh
}

/* tr>td:nth-child(4n)> */

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;
}

li {
  padding: 5px;
  margin: 5px;
  background-color: hsla(0, 0%, 0%, 3%);
  /* border: 1px solid hsl(0, 0%, 80%); */
}

label {
  font-size: 18px;
  padding: none;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  padding: none;
  margin-bottom: 2px;
}